<div class="row">
	<div class="col-md-12 col-lg-6">
		<h1>Nysgjerrig?</h1>
		<p>Ønsker du å forhandle våre produkter, eller kanskje du bare ønsker mere informasjon? Meld din interesse i skjemaet under, så tar vi snarlig kontakt.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-lg-6">
		<%= form_for @lead do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="form-group">
				<%= f.text_field :contact, placeholder: "Kontaktperson", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.text_field :company_name, placeholder: "Firma", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.email_field :email, placeholder: "E-post", class: "form-control"
				%>
			</div>
			<div>
				<%= f.submit "Send", class: "btn btn-success" %>
			</div>
		<% end %>
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-md-12 col-lg-6">
		<%= link_to catalogs_path do %>
		<h1>Kolleksjoner</h1>
		<% end %>
		<p>Se våre kolleksjoner og last ned <%= link_to "kataloger", catalogs_path %></p>
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-md-12 col-lg-6">
		<%= link_to retailers_path do %>
		<h1>Forhandlere</h1>
		<% end %>
		<p>Se oversikt over våre <%= link_to "forhandlere", retailers_path %></p>
	</div>
</div>
