<h1>Kataloger</h1>
<% @catalogs.reverse.in_groups_of(3).each do |group| %>
	<div class="row">
	<% group.each do |item| %>
	<div class="col-sm-4">
		<% if item %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= item.title %>
				</div>
				<div class="panel-body">
					<% if item.catalog_pdf.attached? %>
						<%= link_to rails_blob_path(item.catalog_pdf), target: :_blank do %>
							<%= image_tag item.catalog_pdf.preview(resize: "400x600"), class: "img-responsive w-100" %>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<% end %>
	</div>

<% end %>
