<%= form_for @design do |f| %>
	
	<%= render 'shared/error_messages', object: f.object %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div>
		<%= f.label :description %>
		<%= f.text_area :description, :class => "tinymce" %>

		<%= tinymce %>
	</div>

	<div>
		<%= f.label :main_image %>
		<%= f.file_field :main_image, class: "form-control" %>
	</div>



	<%= f.submit "OK" %>

<% end %> 