<% @designs.in_groups_of(3).each do |group| %>
	<div class="row">
	<% group.each do |item| %>
	<div class="col-sm-4">
		<% if item %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= item.name %>
				</div>
				<div class="panel-body">
					<% if item.main_image.attached? %>
						<%= link_to item do %>
							<%= image_tag item.main_image.variant(resize: "400x600"), class: "img-responsive w-100" %>
						<% end %>
					<% end %>
				</div>
				<div class="panel-footer">
				<ul class="yarns">
					<% item.yarns.pluck(:name).each do |yarn| %>
						<li><%= yarn %></li>
					<% end %>
				</ul>
				<% if can_download_pattern? %>
					<% if item.pattern.attached? %>
							<%= link_to("Last ned oppskrift", rails_blob_path(item.pattern, disposition: "attachment")) %>
					<% end %>
				<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<% end %>
	</div>

<% end %>
