<div class="row">
	<div class="col-md-6">
		<% if @design.main_image.attached? %>
			<%= image_tag @design.main_image.variant(resize: "800X600") %>
		<% end %>
	</div>
	<div class="col-md-6">
		<h3> <%= @design.name %> </h3>
		<p>
			<%= sanitize(@design.description) %>
		</p>
		<ul class="yarns">
			<% @design.yarns.pluck(:name, :id).each do |yarn, id| %>
				<%= link_to yarn_path(id) do %>
					<li><%= yarn %></li>
				<% end %>
			<% end %>
		</ul>
	</div>

</div>






<% if can_download_pattern? %>
	<% if @design.pattern.attached? %>
		<div>
			<%= link_to(image_tag(@design.pattern.preview(resize: "200x200")), rails_blob_path(@design.pattern, disposition: "attachment")) %>
		</div>
	<% end %>
<% end %>
