<%= form_for @retailer do |f| %>
	
	<%= render 'shared/error_messages', object: f.object %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div>
		<%= f.label :website %>
		<%= f.text_field :website, class: "form-control" %>
	</div>
	<div>
		<%= f.label :street_address %>
		<%= f.text_field :street_address, class: "form-control" %>
	</div>
	<div>
		<%= f.label :post_code %>
		<%= f.text_field :post_code, class: "form-control" %>
	</div>
	<div>
		<%= f.label :post_area %>
		<%= f.text_field :post_area, class: "form-control" %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description, :class => "tinymce" %>

		<%= tinymce %>
	</div>

	<%= f.submit "OK" %>

<% end %>
