<div class="page-header"><h1>Forhandlere av Phildar i Norge</h1></div>


<% @retailers.in_groups_of(3).each do |group| %>
<div class="row">
	<% group.each do |item| %>
	<div class="col-md-4">
	<% if item %>
	<div class="panel panel-default">	
		<div class="panel-heading">
			<%= link_to retailer_path(item) do %>
				<span> <%= item.name %> </span>
			<% end %>
		</div>
		<div class="panel-body">
			<p>
				<%= item.street_address %> <br />
				<%= item.post_code %> <%= item.post_area %> <br />
				<%= link_to item.website, item.website if item.website %>
			</p> 
		</div>
		<% end %>
	</div>
	</div>	
<% end %>
</div>
<% end %>