<div class="well">
	<h2> <%= @retailer.name %> </h2>
	<p>
		<%= @retailer.street_address %> <br />
		<%= @retailer.post_code %> <%=@retailer.post_area %> <br />
		<%= link_to @retailer.website, @retailer.website if @retailer.website %>
	</p>	

	<p>
		<%= sanitize(@retailer.description) %>
	</p>
</div>
<% if admin_signed_in? %>
	<div>
		<%= link_to "Edit", edit_retailer_path %> | 
		<%= link_to 'Delete', retailer_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>