// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yarns {
  padding-left: 0;

  li {
    display: inline;
    list-style: none;

    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    background-color: lightgray;
    margin-right: 0.5em;
  }
}
