<header class="navbar navbar-default">
	<div class="container">
		<span class="navbar-brand"> <%= link_to "Garn Engros", root_path, class: "navbar-link" %> </span>
		<%= image_tag "phildar_logo.png", class: "navbar-brand" %>
	</div>
</header>