<!DOCTYPE html>
<html>
  <head>
    <title>Engros</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<%= render 'layouts/header' %>
		<div class="container">
	  	<% if notice %>
	  		<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
	  		<p class="alert alert-danger"><%= alert %></p>
			<% end %>
		
    	<%= yield %>
    </div>
  </body>
</html>
